@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.profile-details-wrapper {
  position: fixed;
  z-index: 100;
  inset: 0;
  background: rgba($color: #000, $alpha: 0.7);
}

.profile-details {
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  width: 340px;
  background: $background;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 25px;
    border-bottom: 2px solid $text-tertiary;

    button {
      padding: 5px 10px;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  &--body {
    height: 400px;
    padding: 20px 20px;
    overflow-y: auto;

    @supports (scrollbar-width: thin) {
      scrollbar-width: thin;
      scrollbar-color: $text-tertiary transparent;
    }

    &::-webkit-scrollbar{
      width: 5px;

      &-thumb {
        background: $text-tertiary;
      }
    }

    .introduction {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img {
        width: 160px;
        border-radius: 10px;
      }

      .no-images {
        display: grid;
        place-items: center;
        width: 160px;
        height: 220px;
        font-size: 4rem;
        border: 4px solid $text-tertiary;
        border-radius: 10px;
      }
  
      &--details {
        margin-top: 20px;
        text-align: center;
  
        h2 {
          margin-bottom: 5px;
        }
        
        p{
          display: block;
          color: $text-secondary;
  
          &:not(:last-child) {
            margin-bottom: 7px;
            font-weight: $fw-medium;
          }
  
          span {
            display: block;
            margin-top: 2px;
          }
        }
  
        .biography {
          margin-bottom: 10px !important;
        }
      }
    }

    .images {
      margin-top: 15px;

      div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 15px;

        img {
          width: 137px;
          border-radius: 8px;
        }
      }
    }


  }
}
