@use '../../components/styles/mixins' as *;

.genre {
  margin-top: 30px;
  padding: 0 30px;

  h2 {
    text-transform: capitalize;
  }

  &--cards {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    @media (min-width: 33em) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-evenly;
    }
  }

   @include media-md-2 {
    padding: 0 50px;
    margin-top: 40px;
  }

   @include media-lg {
    padding: 0 100px;
  }

   @include media-xl{
    padding: 0 160px;
  }
}
