@use "../../components/styles/variables" as *;
@use "../../components/styles/mixins" as *;

.results {
  padding-inline: 30px;
  margin-top: 15px;

  h1 {
    color: darken($color: $text-primary, $amount: 30%);
    text-transform: capitalize;

    span {
      color: $text-primary;
    }
  }

  &--container {
    margin-top: 2rem;

    &--result {
      &:first-child {
        margin-bottom: 2rem;
      }

      .cards-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;

        p {
          padding-left: 10px;
        }
      }
    }
  }

  @include media-sm {
    &--container {
      &--result .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  }

  @include media-md-2 {
    padding-inline: 50px;
  }

  @include media-lg {
    padding-inline: 100px;
  }

  @include media-xl {
    padding-inline: 160px;
  }
}
