// colors

$text-primary: hsl(0, 0%, 96%);
$text-secondary: hsl(0, 0%, 75%);
$text-tertiary: hsl(0, 0%, 25%);

$background: hsl(0, 0%, 6%);
$call-to-action: #d12d38;
$rating-background: #ff5c8a;


// typography

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
