@use "variables" as *;
@use "mixins" as *;

.backdrop-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 180px;
  padding: 20px;
  background: rgba($color: #000, $alpha: 0.4);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &--backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      padding: 20px;
    }
  }

  &--body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;

    &.rated {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--rating {
      display: flex;
      gap: 7px;
      width: max-content;
      color: $background;
      padding: 5px 10px;
      background: $rating-background;
      border-radius: 5px;
      cursor: default;
    }

    &--details {
      width: 100%;
      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &--btn {
        padding: 3px 5px;
        background: $background;
        border-radius: 5px;
        cursor: pointer;
      }

      &--title {
        padding: 3px;
      }
    }
  }

  @include media-md {
    min-width: 360px;
  }

  @include media-lg {
    background: rgba($color: #000, $alpha: 0.2);
    transition: 0.5s;

    &--body {
      &--rating,
      &--details {
        opacity: 0;
        transition: 0.3s;
      }

      &--details {
        transform: translateY(10px);
      }

      &--details--progress {
        position: relative;
        width: 100%;
        height: 4px;
        background: darken($color: $text-secondary, $amount: 20%);
        border-radius: 50px;
        margin-top: 5px;
        opacity: 0;
        overflow: hidden;

        &--completed {
          position: absolute;
          width: 0;
          height: 100%;
          background: $text-primary;
          border-radius: 50px;
          transition: 1s;
        }
      }
    }

    &:hover {
      background: rgba($color: #000, $alpha: 0.6);

      .backdrop-card--body {
        &--rating,
        &--details {
          opacity: 1;
          transform: translateY(0);
        }

        &--details--progress {
          opacity: 1;

          &--completed {
            width: 50%;
          }
        }
      }
    }
  }
}

.poster-card {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 40px rgba($color: #000, $alpha: 0.5);
  overflow: hidden;
  cursor: pointer;

  &--poster {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p{
      padding: 20px;
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.6);
    padding: 20px;

    &.rated {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--rating {
      display: flex;
      gap: 7px;
      width: max-content;
      color: $background;
      font-weight: $fw-bold;
      padding: 5px 10px;
      background: $rating-background;
      border-radius: 5px;
      cursor: default;
    }

    &--details {
      width: 100%;

      &--more {
        display: flex;
        align-items: center;
        gap: 10px;

        &--btn {
          padding: 3px 5px;
          background: $background;
          border-radius: 5px;
          cursor: pointer;
        }

        &--title {
          padding: 3px;
        }
      }
    }
  }

  @include media-sm {
    width: 180px;
    height: 250px;
  }

  @include media-md {
    width: 200px;
    height: 290px;
  }

  @include media-lg {
    transition: 0.5s;

    &--body {
      background: rgba($color: #000, $alpha: 0.4);
      &--rating,
      &--details {
        opacity: 0;
        transition: 0.3s;
      }

      &--details {
        visibility: hidden;
        transform: translateY(10px);
      }

      &--details--progress {
        position: relative;
        width: 100%;
        height: 4px;
        background: darken($color: $text-secondary, $amount: 20%);
        border-radius: 50px;
        margin-top: 5px;
        opacity: 0;
        overflow: hidden;

        &--completed {
          position: absolute;
          width: 0;
          height: 100%;
          background: $text-primary;
          border-radius: 50px;
          transition: 1s;
        }
      }
    }

    &:hover {
      background: rgba($color: #000, $alpha: 0.6);

      .poster-card--body {
        &--rating,
        &--details {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }

        &--details--progress {
          opacity: 1;

          &--completed {
            width: 50%;
          }
        }
      }
    }
  }
}
