@use "variables" as *;
@use "mixins" as *;

.details {
  position: fixed;
  z-index: 20;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 80vh;
  padding-block: 20px;
  background: $background;
  border: 1px solid $text-tertiary;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: none;

  @supports (backdrop-filter: blur(60px)) {
    background: rgba($color: $background, $alpha: 0.8);
    backdrop-filter: blur(40px);
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &--title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-inline: 20px;
    margin-bottom: 20px;

    p {
      color: $text-secondary;
    }
  }

  &--other {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 20px;
    margin-bottom: 20px;

    div {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;

      h3 {
        margin-bottom: 4px;
      }

      p {
        max-width: 360px;
        color: lighten($color: $text-secondary, $amount: 10%);
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .genre p {
      display: flex;
      gap: 5px;
    }
  }

  &--cast,
  &--crew {
    margin-bottom: 5px;

    h3 {
      padding-inline: 20px;
      margin-bottom: 10px;
    }

    & > div {
      display: flex;
      gap: 10px;
      padding-inline: 20px;
      overflow-x: auto;

      @supports (scrollbar-width: none) {
        padding-bottom: 20px !important;
        scrollbar-width: none;
      }

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &--card {
      position: relative;
      min-width: 120px;
      max-width: 140px;
      height: 160px;
      background: rgba($color: #000, $alpha: 0.6);
      border: 5px solid $text-tertiary;
      border-radius: 10px;
      overflow: hidden;
      cursor: default;

      &--photo {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2px;
        width: 100%;
        height: 100%;
        padding: 10px;

        .role {
          color: $text-secondary;
        }
      }
    }
  }

  @include media-md {
    padding-block: 40px;

    &--title,
    &--cast h3,
    &--cast > div,
    &--crew h3,
    &--crew > div,
    &--other {
      padding-inline: 50px;
    }
  }

  @include media-lg {
    width: 80%;
    padding-block: 60px;

    &--title,
    &--cast h3,
    &--cast > div,
    &--crew h3,
    &--crew > div,
    &--other {
      padding-inline: 60px;
    }
  }
}
