@use "variables" as *;
@use "mixins" as *;

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;

  .small {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .attribution {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    background: $text-tertiary;

    a {
      font-weight: $fw-bold;
    }

    &::before {
      content: "";

      position: absolute;
      top: -9px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $text-tertiary;
    }
  }

  .large {
    display: none;
  }

  &--actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    button {
      color: $background;
      font-weight: $fw-bold;
      padding: 8px 20px;
      background: $call-to-action;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  @include media-md-2 {
    .small {
      width: 50%;
    }
  }

  @include media-lg {
    justify-content: space-evenly;
    flex-direction: row-reverse;

    .small {
      display: none;
    }

    .large {
      width: 40%;
      display: block;

      .attribution {
        bottom: 10%;
        right: 15%;
      }
    }

    &--actions {
      align-items: flex-start;
    }
  }
}
