@use "variables" as *;
@use "mixins" as *;

.genres {
  margin-top: 20px;
  padding: 0 30px;

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  &--genre {
    font-weight: $fw-bold;
    color: $text-primary;
    padding: 10px 30px;
    background: lighten($color: $background, $amount: 5%);
    box-shadow: 0 0 40px #000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &.selected {
      background: $text-tertiary;
      box-shadow: none;
    }
  }

  @include media-md {
    margin-top: 50px;
  }

  @include media-md-2 {
    padding: 0 50px;
  }

  @include media-lg {
    padding: 0 100px;
  }

  @include media-xl {
    padding: 0 160px;
  }
}

// for home page

.home--genres {
  margin-top: 30px;
  padding: 0 30px;

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &--genre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 200px;
    background: rgba($color: #000, $alpha: 0.6);
    border-radius: 10px;
    overflow: hidden;

    &--backdrop {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      transition: 0.5s;
    }

    &--options {
      position: absolute;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      width: 100%;
      height: 60%;

      opacity: 0;
      transition: 0.5s;

      &--option {
        font-weight: $fw-bold;
        padding: 10px 20px;
        background: lighten($color: $background, $amount: 5%);
        border-radius: 5px;
        box-shadow: 0 0 20px #000;
        cursor: pointer;
      }
    }

    &:hover,
    &:focus {
      .home--genres--genre--options {
        opacity: 1;
      }

      h3 {
        opacity: 0;
      }
    }
  }

  @include media-md {
    margin-top: 50px;

    & > div {
      flex-direction: row;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      overflow-x: auto;
      transition: 0.5s;

      &:hover {
        scrollbar-color: $text-tertiary transparent;

        &::-webkit-scrollbar-thumb {
          background: $text-tertiary;
        }
      }

      &::-webkit-scrollbar {
        height: 5px;

        &-thumb {
          border-radius: 10px;
        }
      }
    }

    &--genre {
      min-width: 360px;
    }
  }

  @include media-md-2 {
    padding: 0 50px;
  }

  @include media-lg {
    padding: 0 100px;
  }

  @include media-xl {
    padding: 0 160px;
  }
}
