@use "variables" as *;
@use "mixins" as *;

.list {
  margin-top: 30px;
  padding: 0 30px;

  &--header{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--heading {
      text-transform: capitalize;
    }

    &--see-all-btn{
      display: flex;
      align-items: center;
      gap: 5px;
      width: max-content;
      padding: 2px;
      transition: 0.3s;
      cursor: pointer;

      &:hover,
      &:focus{
        gap: 10px;
      }
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  @include media-md {
    &--header{
      flex-direction: row;
      justify-content: space-between;
    }
    &--body {
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      transition: 0.3s;

      &::-webkit-scrollbar {
        height: 8px;

        &-thumb {
          background: transparent;
          border-radius: 10px;
        }
      }

      &:hover {
        scrollbar-color: $text-tertiary transparent;

        &::-webkit-scrollbar-thumb {
          background: $text-tertiary;
        }
      }
    }
  }

  @include media-md-2 {
    margin-top: 50px;
    padding: 0 50px;
  }

  @include media-lg {
    padding: 0 100px;
  }

  @include media-xl {
    padding: 0 160px;
  }
}
