@use "variables" as *;
@use "mixins" as *;

.loading {
  &--trending {
    width: 100%;
    height: 200px;
    border-radius: 20px;

    @include media-md {
      height: 300px;
    }

    @include media-md-2 {
      height: 340px;
    }

    @include media-lg {
      height: 480px;
    }

    @include media-xl {
      height: 600px;
    }
  }

  &--card {
    &--backdrop {
      width: 100%;
      height: 180px;
      border-radius: 10px;

      @include media-md {
        min-width: 360px;
      }
    }

    &--poster {
      width: 100%;
      height: 400px;
      border-radius: 10px;

      @include media-sm {
        width: 180px;
        height: 250px;
      }

      @include media-md {
        width: 200px;
        height: 290px;
      }
    }
  }

  &--spinner {
    display: flex;
    justify-content: center;
    margin-block: 5rem;

    div {
      width: 100px;
      height: 100px;
      border-top: 2px solid $text-primary;
      animation: rotate 1s linear infinite;
      border-radius: 50%;
    }
  }

  &--details {
    padding-inline: 20px;

    &--heading {
      width: 100%;
      height: 40px;
      border-radius: 8px;
    }

    &--overview {
      width: 100%;
      height: 400px;
      border-radius: 8px;
      margin-top: 20px;
    }

    &--cast-crew,
    &--videos {
      margin-top: 20px;
    }

    &--category {
      &--heading {
        width: 50%;
        height: 20px;
        border-radius: 5px;
      }

      &--cards {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        border-radius: 8px;
      }
    }

    .videos--cards {
      height: 160px;
    }

    @include media-sm {
      &--heading {
        max-width: 400px;
      }

      &--category {
        &--heading {
          max-width: 200px;
        }
        &--cards {
          height: 120px;
        }
      }
    }

    @include media-md {
      padding-inline: 50px;
    }

    @include media-lg {
      padding-inline: 60px;

      .videos--cards {
        height: 220px;
      }  
    }
  }
}

.loading {
  &--trending,
  &--card--backdrop,
  &--card--poster,
  &--details--heading,
  &--details--overview,
  &--details--category--heading,
  &--details--category--cards {
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.4) 38%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0.4) 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
    animation: skeleton 1s infinite;
  }
}

@keyframes skeleton {
  100% {
    background-position: -100% 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
