@use "variables" as *;
@use "mixins" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 15px;

  a {
    outline: none;

    p {
      font-size: 1.3rem;
      font-weight: $fw-bold;
      cursor: pointer;
    }
  }

  &--menu-btn {
    padding: 2px 5px;
    font-size: 1.3rem;
  }

  &--menu {
    width: 100%;
    padding: 30px 25px;
    max-width: 340px;
    border-radius: 20px;
    background: $background;
    transform: scale(0) translate(0, -80px);
    transition: transform 0.7s;
    transform-origin: top right;
    box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.5);

    &.menu-active {
      transform: scale(1) translate(0, 0);
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      button {
        color: $text-primary;
        padding: 5px;
        font-weight: $fw-semibold;
        cursor: pointer;
      }
    }

    &--wrapper {
      position: fixed;
      z-index: 1000;
      inset: 0;

      display: flex;
      align-items: flex-end;
      flex-direction: column;

      width: 100%;
      height: 100%;
      padding: 0 24px;
      // background: rgba($color: #000000, $alpha: 0.5);
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;

      &.wrapper-active {
        opacity: 1;
        visibility: visible;
      }
    }

    &--close-btn {
      display: grid;
      place-items: center;
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
      background: $background;
      margin-top: 27px;
      margin-bottom: 20px;
      border-radius: 50%;
      box-shadow: 0 0 47px #000;
      transition: 1s;

      &.close-btn-active {
        transform: rotate(720deg);
      }
    }

    &--search {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      &--input {
        width: 80%;
        padding: 6px 7px;
        border: 2px solid $text-secondary;
        border-radius: 5px;
        outline: none;

        &::placeholder {
          color: $text-secondary;
          opacity: 1;
        }

        &:focus {
          outline: 0;
          border-color: $text-primary;
        }
      }

      &--btn {
        color: $background;
        font-weight: $fw-bold;
        padding: 6px 30px;
        background: $call-to-action;
        border-radius: 5px;
      }
    }
  }

  @include media-md-2 {
    gap: 40px;
    padding: 30px 50px;

    &--menu-btn {
      display: none;
    }

    &--menu {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      background: transparent;
      box-shadow: none;
      transform: scale(1) translate(0, 0);

      ul {
        gap: 10px;
        flex-direction: row;

        li {
          &:first-child {
            display: none;
          }

          &:hover {
            button {
              &::after {
                transform-origin: left;
                transform: translateX(-50%) scaleX(1);  
              }
              // background: rgba($color: #fff, $alpha: 0.1);
            }
          }

          button {
            position: relative;
            border-radius: 5px;
            padding: 3px 10px;
            transition: 0.3s;

            &::after {
              content: '';
              position: absolute;
              bottom: -2px;
              left: 50%;
              transform: translateX(-50%) scaleX(0);
              width: 90%;
              height: 2px;
              background: $text-primary;
              border-radius: 10px;
              transform-origin: right;
              transition: transform 0.1s;
            }
          }
        }
      }

      &--close-btn {
        display: none;
        box-shadow: none;
      }

      &--wrapper {
        position: initial;
        z-index: 1;
        padding: 0;
        opacity: 1;
        visibility: visible;
      }

      position: initial;
      z-index: 1;

      &.active {
        transform: translateX(0) scaleY(1);
      }

      &--list {
        flex-direction: row;

        button {
          padding: 5px 10px;
        }
      }

      &--search {
        flex-direction: row;
        gap: 10px;
        margin-top: 0;
      }
    }
  }

  @include media-lg {
    padding: 30px 100px;
  }

  @include media-xl {
    padding: 30px 160px;

    &--menu--list button::before {
      display: block;
    }
  }
}
