@use "variables" as *;
@use "mixins" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 15px;

  p {
    font-size: 1.3rem;
    font-weight: $fw-bold;
  }

  &--menu-btn {
    padding: 2px 5px;
    font-size: 1.3rem;
  }

  &--menu {
    position: absolute;
    top: 74px;
    left: 50%;
    width: 100%;
    padding: 0 30px 30px;
    box-shadow: 0 80px 100px rgba($color: #000000, $alpha: 0.2);
    transform: translate(-50%) scaleY(0);
    transform-origin: top;
    transition: 0.3s;

    &.active {
      transform: translate(-50%) scaleY(1);
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;

      button{
        padding: 2px;
      }
    }

    &--search {
      margin-top: 15px;

      &--input {
        width: 75%;
        padding: 10px 5px;
        border: 2px solid $text-secondary;
        border-radius: 5px;
        outline: none;

        &::placeholder {
          color: $text-secondary;
          opacity: 1;
        }

        &:focus {
          outline: 0;
          border-color: $text-primary;
        }
      }

      &--btn {
        width: 23%;
        padding: 12px 0;
        margin-left: 5px;
        background: $text-tertiary;
        border-radius: 5px;
      }

      @include media-sm {
        &--input{
          width: 250px;
        }

        &--btn{
          width: auto;
          padding: 12px 30px;
        }
      }
    }
  }

  @include media-md {
    gap: 40px;
    padding: 30px 50px;

    &--menu-btn{
      display: none;
    }

    &--menu{
      position: initial;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      transform: translateX(0) scaleY(1);
      box-shadow: 0;

      &.active{
        transform: translateX(0) scaleY(1);
      }

      &--list{
        flex-direction: row;
        
        button{
          padding: 5px 10px;
        }
      }

      &--search{
        margin-top: 0;
      }
    }
  }

  @include media-md {
    padding: 30px 100px;
  }
}
