@use "variables" as *;

.rating {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffcd1c;
  border-radius: 5px;

  span {
    font-weight: $fw-bold;
    margin-bottom: -1px;
  }

  &.box-style {
    padding: 2px 5px 3px;
    background: #fffdf6;
    border: 2px solid #ffcd1c;

    span {
      color: #000;
    }
  }
}
