@use "variables" as *;
@use "mixins" as *;

.review-wrapper {
  position: fixed;
  z-index: 100;
  inset: 0;
  background: rgba($color: #000, $alpha: 0.7);
  transition: 0.3s;
}

.review {
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  width: 340px;
  background: $background;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  animation: visible 0.3s ease-in-out;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 25px;
    border-bottom: 2px solid $text-tertiary;

    button {
      padding: 5px 10px;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  &--body {
    padding: 20px 25px;
    max-height: 400px;
    overflow: auto;

    @supports (scrollbar-width: thin) {
      scrollbar-width: thin;
      scrollbar-color: $text-tertiary transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;

      &-thumb {
        border-radius: 20px;
        background: $text-tertiary;
      }
    }

    .author-name {
      color: $text-tertiary;
      font-weight: $fw-bold;

      span {
        color: $text-primary;
      }
    }

    .content {
      font-weight: $fw-medium;
      margin-bottom: 15px;
    }
  }

  @include media-md {
    width: 500px;
  }
}

@keyframes visible {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
