/* ----------------- */
/* tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- */

/* ----------------- */
/* font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ----------------- */

/* ----------------- */
/* body */

body {
  font-family: "Poppins", sans-serif;
}

/* ----------------- */

/* ----------------- */
/* extras */

::selection {
  @apply text-black dark:text-white bg-gray-200 dark:bg-neutral-700;
}

/* ----------------- */
