/* ----------------- */
/* tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- */

/* ----------------- */
/* font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ----------------- */

/* ----------------- */
/* body */

body {
  font-family: "Poppins", sans-serif;
  @apply dark:bg-neutral-900 dark:text-white transition-colors duration-300;
}

/* ----------------- */

/* ----------------- */
/* extras */

/* selection */
::selection {
  @apply text-black dark:text-white bg-gray-200 dark:bg-neutral-700;
}

/* focus */

*:focus {
  @apply outline outline-2 outline-neutral-700 dark:outline-gray-300;
}


/* ----------------- */
