/* ----------------- */
/* svg icons */
.icon > * {
  @apply dark:fill-white transition-all;
}

.active-icon > * {
  @apply fill-primary-light dark:fill-primary-dark;
}

.inactive-icon > * {
  @apply fill-gray-500 dark:fill-neutral-700;
}

.rating-icon path {
  @apply fill-primary-dark;
}

/* ----------------- */

/* ----------------- */
/* components */

/* card */
.active-card {
  box-shadow: -1px 0 25px rgba(70, 70, 70, 0.3),
    1px 0 25px rgba(70, 70, 70, 0.3), 0 -1px 20px rgba(70, 70, 70, 0.3),
    0 1px 20px rgba(70, 70, 70, 0.3);
}

/* scrollbar */

.scrollbar::-webkit-scrollbar {
  @apply w-1 h-1;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-[#313131] rounded-md invisible transition-all;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  @apply visible;
}

/* search */
#search:focus ~ .placeholder-text {
  @apply left-2 opacity-0;
}

/* trending */
@media (min-width: 1640px) {
  .trending {
    height: 500px !important;
  }

  .trending h2 {
    @apply text-5xl;
    max-width: 600px;
  }

  .trending .background {
    @apply p-20;
  }
}

.trending h2 {
  line-height: 3rem;
}

/* background */
@media (min-width: 1024px) {
  .background {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 60%,
      #000 70%
    );
  }
}

/* ----------------- */
