/* ----------------- */
/* svg icons */
.icon > * {
  @apply dark:fill-white transition-all;
}

.active-icon > * {
  @apply fill-primary-light dark:fill-primary-dark
}

.inactive-icon > * {
  @apply fill-gray-500 dark:fill-neutral-700
}


.rating-icon path {
  @apply fill-primary-dark;
}

/* ----------------- */

/* ----------------- */
/* components */

.active-card {
  box-shadow: -1px 0 25px rgba(70, 70, 70, 0.3),
    1px 0 25px rgba(70, 70, 70, 0.3), 0 -1px 20px rgba(70, 70, 70, 0.3),
    0 1px 20px rgba(70, 70, 70, 0.3);
}

.scrollbar::-webkit-scrollbar {
 width: 4px;
 height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-neutral-600 rounded-md;
}

/* ----------------- */

