/* ----------------- */
/* svg icons */

.icon > * {
  @apply fill-black dark:fill-white transition-all;
}

.active-icon > * {
  @apply fill-primary-light dark:fill-primary-dark;
}

.inactive-icon > * {
  @apply fill-gray-500 dark:fill-neutral-700;
}

.rating-icon path {
  @apply fill-primary-dark;
}

/* ----------------- */

/* ----------------- */
/* components */

/* card */

.active-card {
  box-shadow: -1px 0 25px rgba(50, 50, 50, 0.3),
    1px 0 25px rgba(50, 50, 50, 0.2), 0 -1px 20px rgba(50, 50, 50, 0.2),
    0 1px 20px rgba(50, 50, 50, 0.3);
}

/* scrollbar */

*::-webkit-scrollbar {
  @apply w-1 h-1;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-[#313131] rounded-md invisible transition-all;
}

*:hover::-webkit-scrollbar-thumb {
  @apply visible;
}

/* search */

#search:focus ~ .placeholder-text {
  @apply left-2 opacity-0;
}

/* trending */

@media (min-width: 1640px) {
  .trending h2 {
    @apply text-5xl;
    max-width: 600px;
  }
}

.trending h2 {
  @apply lg:leading-snug;
}

/* background */

.background {
  background-image: linear-gradient(
    to right,
    #000 8%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

/* trending people */

.trending-people-info {
  width: calc(100% - 192px);
}

@media (min-width: 1280px) {
  .trending-people-info {
    width: calc(100% - 280px);
  }
}

/* ----------------- */
/* loading */

/* skeleton */

.animate-skeleton {
  animation: 1s skeleton linear infinite;
  @apply bg-gray-200 dark:bg-neutral-800;
}

.animate-skeleton-search {
  animation: 1s skeleton linear infinite;
  @apply bg-gray-300 dark:bg-neutral-700;
}

@keyframes skeleton {
  100% {
    opacity: 0.2;
  }
}

/* infinite */

.animate-infinite {
  animation: loading-infinite 0.6s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

.second-line {
  animation-delay: 0.2s;
}

@keyframes loading-infinite {
  0%,
  88%,
  100% {
    opacity: 0;
  }

  0% {
    transform: translateY(-6vmin);
  }

  33% {
    opacity: 1;
  }

  33%,
  88% {
    transform: translateY(3vmin);
  }
}

/* ----------------- */
