@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.backdrop-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 180px;
  background: rgba($color: #000, $alpha: 0.5);
  border-radius: 10px;
  box-shadow: 3px 3px 40px rgba($color: #000, $alpha: 0.5);
  overflow: hidden;
  cursor: pointer;

  &--body {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: rgba($color: #000, $alpha: 0.9);
    border-top: 1px solid $text-tertiary;
    border-bottom: 0;

    @supports (backdrop-filter: blur(40px)) {
      background: rgba($color: #000, $alpha: 0.2);
      backdrop-filter: blur(40px);
    }

    .card-details {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-right: 10px;

      .title{
        font-weight: $fw-semibold;
        font-size: 1.1rem;
      }
    }
  }

  @include media-md {
    min-width: 360px;
  }
}
