@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.poster-card {
  position: relative;
  width: 80%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 40px rgba($color: #000, $alpha: 0.5);
  overflow: hidden;
  cursor: pointer;

  &--body {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    padding: 12px 15px 15px;
    background: rgba($color: #000, $alpha: 0.9);
    border-top: 1px solid $text-tertiary;
    border-bottom: 0;

    @supports (backdrop-filter: blur(40px)) {
      background: rgba($color: #000, $alpha: 0.2);
      backdrop-filter: blur(40px);
    }

    .name {
      font-weight: $fw-semibold;
      font-size: 1.1rem;
      margin-bottom: 5px;
    }

    .release-date {
      font-size: 0.9rem;
      font-weight: $fw-medium;
      color: $text-secondary;
    }
  }

  @include media-sm {
    width: 180px;
    height: 250px;
  }

  @include media-md {
    width: 200px;
    height: 290px;
  }

}
