@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  max-width: 300px;
  padding: 15px;
  border: 2px solid $text-tertiary;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba($color: #000, $alpha: 0.6);
  cursor: pointer;

  &--footer {
    margin-top: 10px;
    .author-name {
      color: $text-secondary;
    }
  }
}
