@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.trending-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 160px;
  height: 120px;
  background: rgba($color: #000, $alpha: 0.4);
  border: 2px solid $text-tertiary;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;

  &.active {
    border: 5px solid darken($color: $text-tertiary, $amount: 10%);
    min-width: 200px;
    height: 160px;
    background: rgba($color: #000, $alpha: 0.2);

    h3 {
      opacity: 0;
    }
  }

  img {
    border-radius: 5px;
  }

  h3 {
    font-size: 1rem;
    padding: 10px;
    transition: 0.3s;
  }

  @include media-xl {
    min-width: 180px;
    height: 140px;

    &.active {
      min-width: 220px;
      height: 180px;
    }

    h3 {
      font-size: 1rem;
    }
  }
}
